body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background-color: #000;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* container  */

.container {
	width: 100%;
	max-width: 1200px;
	margin: 50px auto;
}

/*header*/

.header {
	width: 100%;
	padding-top: 7px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #A3F2CA;
}

/*nav*/

.nav {
	font-size: 18px;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
	transition: color .2s linear;
	position: relative;
	cursor: pointer;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #A3F2CA;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity .2s linear;
}

.nav__link:hover {
	color: #A3F2CA;
}
.nav__link:hover:after {
	opacity: 1;
	transition: .2s;
}

/* main  */

.main {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1080px;
	margin-top: 100px;
	align-items: center;
}

/*intro*/

.intro {
	display: flex;
	justify-content: center;
	width: 100%;
}

.intro__inner {
	width: 100%;
	max-width: 650px;
	height: 532px;
	margin: 0 auto;
	text-align: center;
}

.intro__title {
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 64px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1;
	color: #fff;
	margin-bottom: 50px;
}

.intro__suptitle {
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 26px;
	font-weight: 400;
	font-style: italic;
	color: #fff;
	margin-bottom: 50px;
}

.intro__btn {
	display: inline-block;
	vertical-align: top;
	border: 3px solid #A3F2CA;
	padding: 10px 20px;
	color: #000;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	transition: background .2s linear, color .2s linear;
	cursor: pointer;
}

.intro__btn:hover {
	background-color: #A3F2CA;
	color: #333;
}

.intro__item img {
	max-width: 650px;
	margin: auto 300px;
}

/* who-we-are */

.who-we-are__suptitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #A3F2CA;
	margin-bottom: 20px;
}

.who-we-are__title {
	font-weight: 700;
	font-size: 42px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}

.who-we-are__inner {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-top: 50px;
}

/* inner */

.inner {
	width: 30%;
}

.inner__img {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 30%;
}

.inner__img:first-child {
	margin-top: 50px;
}

.inner__img img {
	margin-bottom: 90px;
}

.inner__title {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #fff;
	margin-bottom: 15px;
}

.inner__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #747576;
	margin-bottom: 15px;
}


/* footer */

.copyright {
	padding: 20px 0;
	border-top: 1px solid #e5e5e5;
	text-align: center;
	font-size: 14px;
	color: #333;
}
